.react-flow__pane {
    cursor: default !important;
}

.react-flow__node {
    cursor: default !important;
}

.react-flow__handle {
    cursor: default !important;
}

.react-flow__edge {
    cursor: default !important;
}
